{% extends "layout.html" %}


{% block content%}

  <div class="servicioo">
    <h1>MODALIDADES DE CREDITOS</h1>
    <p class="creditt">Se prestará el servicio de crédito con base en los recursos recibidos en aportes y recuperación de  la  cartera  de  crédito;  si  fuese  necesario,  con  los  recursos  provenientes  de empréstitos externos, previa autorización del Consejo de Administración.
      <br>
      <a href="https://res.cloudinary.com/sabos/image/upload/v1572329981/counilibre/documentos/SOLICITUD_DE_CREDITO_urio6s.pdf" target="_blank">(diligenciar formato de credito)</a>
    </p>
    <table class="tablle">
      <tr class="produc">

        <th>CREDITOS</th>

        <th>DESCRIPCIÓN</th>

      </tr>

      <tr>

        <td>Libre Inversión</td>

        <td> Satisfacer las necesidades personales del asociado, para su libre inversión.</td>

      </tr>

      <tr>

        <td>Automático </td>

        <td>Otorgar el valor solicitado en proporción igual o inferior a los aportes del asociado.</td>

      </tr>

      <tr>

        <td>Educacion</td>

        <td>Su destinación es exclusivamente  para el pago de educación, previa demostración de su uso por el solicitante asociado del crédito.</td>

      </tr>

      <tr>

        <td>Flexible </td>

        <td>Se define  “Crédito Flexible” al crédito que solicite un asociado activo, para ser cancelado hasta en 48 meses, se otorga a los asociados que tienen disponibilidad de pago, sin tener en cuenta la relación  cuatro a uno (4 a 1) en los aportes.</td>

      </tr>

      <tr>

        <td>Consumo</td>

        <td>Aprobar  el  crédito  que  la  Cooperativaotorga  a  un  asociado  activo,  para  realizar compras  de  artículos  consumibles  o  solicitar  la  prestación  de  servicios  en  entidades  con  las cuales Coounilibre tiene convenios.</td>

      </tr>

      <tr>

        <td>Compra de Primas</td>

        <td>Son los créditos que se aprueban como anticipo de las primas legales del asociado, para su otorgamiento se  deberá seguir el procedimiento normal de una solicitud de crédito. Sin embargo, el pago de este tipo de créditos no será por el sistema de descuento mensual por nómina. Este se efectuará mediante el pago único por nomina el mes que se genere el pago de la prima legal.</td>

      </tr>
      <tr>

        <td>Salud</td>

        <td> Prestar un servicio médico u hospitalario. La Cooperativa lo cancelará a la institución respectiva una vez presentada la factura de cobro.</td>

      </tr>
      <tr>

        <td>Calamidad doméstica</td>

        <td>Son  créditos  destinados  exclusivamente  a  socorrer  al  asociado  en  gastos  imprevistos  como funerarios, reposición y/o reparación de bienes muebles e inmuebles perdidos o deteriorados por incendios, inundaciones, o cualquier otro desastre natural producido por acciones violentas contra la comunidad y contra el patrimonio del asociado.</td>

      </tr>
      <tr>

        <td>Compra de Cartera</td>

        <td>Esta línea de crédito tiene la finalidad la compra de todo tipo de cartera (TC, Crédito de Libre Inversión, Libranzas con otras entidades), sumando la cartera que se tiene con la cooperativa, para ayudarte a saldar tus deudas, brindándole al asociado la oportunidad de ampliar el plazo de acuerdo a su capacidad y disponibilidad, mejorándole su flujo de efectivo.</td>

      </tr>
      <tr>

        <td>Compra de Quinquenio</td>

        <td>Consiste en la compra del quinquenio establecido en la convención colectiva de trabajadores administrativos de la universidad,  se realizará la compra con un plazo de un (1) año anticipado a  su  cumplimiento.</td>

      </tr>

    </table>

    <p class="crds"><a href="https://res.cloudinary.com/sabos/image/upload/v1572329981/counilibre/documentos/REGLAMENTOCREDITOS_tzshoz.pdf" target="_blank"><u>Conoce mas sobre Nuestros Creditos</u></a></p>
  </div>

{% endblock%}
