{% extends "layout.html" %}



{% block content%}

  <div class="servicioo">
    <h1>TIPOS DE SERVICIOS</h1>
    <table class="tablle">
      <tr class="produc">

        <th>Servicio</th>

        <th>Descripción</th>

      </tr>

      <tr>

        <td>Almacenes de cadena</td>

        <td>Bonos de consumo para almacenes éxitos.</td>

      </tr>

      <tr>

        <td>Turismo</td>

        <td>Planes de Turismo.</td>

      </tr>

      <tr>

        <td>Asistencia Médica Inmediata (AMI)</td>

        <td>Asistencia Médica Inmediata (AMI).</td>

      </tr>

      <tr>

        <td>Suscripciones a Periódicos y Revistas </td>

        <td>Suscripciones a Periódicos y Revistas.</td>

      </tr>

      <tr>

        <td>Educacion</td>

        <td>Compra de útiles escolares, Matrículas Universitarias: Actualmente se tiene convenio con la Universidades: Libre, Norte, Autónoma del  Caribe, Corporación Universitaria de la Costa (CUC).</td>

      </tr>

      <tr>

        <td>seguros</td>

        <td>Para Vehículo, Soat, Vivienda, Responsabilidad Civil, Vida.</td>

      </tr>
      <tr>

        <td>Prevención Exequial</td>

        <td>Centralco, Recordar.</td>

      </tr>
      <tr>

        <td>Odontología</td>

        <td>Odontología.</td>

      </tr>
      <tr>

        <td>Oftalmología</td>

        <td>Oftalmología.</td>

      </tr>

    </table>
  </div>

{% endblock%}
