{% extends "layout.html" %}


{% block content%}


<div class="service">
  <h1>PRODUCTOS  Y SERVICIOS</h1>
  <img src="{{url_for('static', filename = 'imgs/10.jpg')}}" alt="">
  <p>
    A través de la Cooperativa Multiactiva de Trabajadores de la Universidad Libre - COOUNILIBRE, ponemos a disposición de los asociados servicios para  cubrir sus necesidades y de la familia.
Pueden acceder de manera fácil, ágil y oportuna
a diferentes modalidades de Créditos apalancados en los aportes y ahorros del asociado.
  </p>
<div class="row credito">
  <div class="col-6">
    <h1>TIPOS DE CREDITOS</h1>
      <div class="card effef"  style="width: 25rem;">
        <a href="{{url_for('creditos')}}"><img class="card-img-top" src="{{url_for('static', filename = 'imgs/drt.jpg')}}" alt="Card image cap"></a>
    </div>
  </div>
  <div class="col-6">
    <h1 >TIPOS DE SERVICIOS</h1>
    <div class="card" style="width: 25rem;">
      <a href="{{url_for('servicio')}}"><img class="card-img-top" src="{{url_for('static', filename = 'imgs/crs.jpg')}}" alt="Card image cap"></a>
    </div>
  </div>
</div>





</div>

{% endblock%}
