{% extends "layout.html" %}


{% block content%}

<div class="uneete">
  <h1>¡AFILIATE!</h1>
  <img class="uneett"  src="https://res.cloudinary.com/sabos/image/upload/v1572331884/counilibre/imgs/contract_w9rjrw.jpg" alt="">
  <h2>¿Quienes Pueden Afiliarse?</h2>
  <p class="untp">• Personal administrativo o docente que se encuentren vinculados laboralmente con la universidad libre mediante cualquier forma de contrato.<br>
    • Personal que se encuentre vinculado laboralmente con COOUNILIBRE. <br>
    • Pensionados de cualquier institución de educación superior.<br>
    • Personas que presten sus servicios laborales con instituciones de educación superior dentro del radio de acción de COOUNILIBRE mediante contrato a termino indefinido. <br> </p>


    <img class="unimg" src="https://res.cloudinary.com/sabos/image/upload/v1572331909/counilibre/imgs/trato_kmayac.jpg" alt="">
    <h2>Pasos Para La Afiliacion:</h2>
    <p class="untp">
      • Presentar solicitud de afiliación <a href="https://res.cloudinary.com/sabos/image/upload/v1572329980/counilibre/documentos/FORMULARIO_ASOCIADO_aatzrk.pdf" target="_blank">(diligenciar formato de afiliación)</a> suministrando  toda la información solicitada en forma exacta. <br>
      • Copia de la cedula de ciudadanía.<br>
      • Pago de la primera cuota  de  aportes sociales mensuales, como minimo equivalente a un tres por ciento (3%) del salario básico del asociado.  <br>
    </p>


      <img  class="unt" src="https://res.cloudinary.com/sabos/image/upload/v1572331898/counilibre/imgs/money_r1buii.png" alt="">
      <h2>Medios de Pago: </h2>
      <p class="untp">
          • Personal activo con la universidad libre: Descuentos Por Nomina. <br>
          • Pensionados: Consignación Bancaria ( Banco de Bogotá-Cuenta Coounilibre). <br>
      </p>
</div>


{% endblock%}
